body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.header {
    position: fixed;
    width: 100vw;
    height: 5rem;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.content {
    position: relative;
    top: 6rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 2rem;
}

.navbar {
    display: flex;
    flex-direction: column;
}

.btn {
    position: relative;
    padding: 1.4rem 2rem;
    font-size: 1rem;
    color: black;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn:hover {
    color: black;
    transition-delay: .5s;
}

.btn:hover:before {
    transition-delay: 0s;
}

.btn:hover:after {
    background: #96B7C4;
    transition-delay: .35s;
}

.from-left:before,
.from-left:after {
    top: 0;
    width: 0;
    height: 100%;
}

.from-left:before {
    right: 0;
    border: 1px solid #96B7C4;
    border-left: 0;
    border-right: 0;
}

.from-left:after {
    left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
    width: 100%;
}

.view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
    padding: 0 1rem 1rem 1rem;
}

/* CSS for Customer Page */

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.product-item {
    background-color: #DFDFDF;
    border-radius: 1rem;
    padding: 0.5rem;
}

.product-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
}

.product-image {
    width: 5rem;
    border-radius: 1rem;
}

.product-title {
    font-weight: bold;
    margin: 1rem 0;
}

.order-view:hover {
    text-decoration: underline;
    color: blue;
    transition-delay: .1s;
}

.caption-view-order {
    font-weight: bold;
    margin: 1rem 0;
}


.product-number-title {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    margin-top: 0.5rem;
}

.product-number {
    display: flex;
    justify-content: space-around;
}

.product-quantity {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 4rem;
    height: 2rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-available {
    display: flex;
    justify-content: center;
}

.button-create-order {
    margin-top: 1rem;
    height: 2rem;
    width: 30%;
}


/* CSS for Saler Page */
